<html> 
<head> 
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">
	</head>
	<body>
	<div class="navbar navbar-inverse">    
      <div class="container">
        <a class="navbar-brand" href="/"><strong>一次测试</strong></a>
        <div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="/"><strong>首页</strong></a></li>
            <li><a href="/index"><strong>登陆</strong></a></li>
            <li><a href="/toregister"><strong>注册</strong></a></li>
          </ul>
        </div>
      </div>
    </div>
	<div id ="messages"></div>
	<form id ="myForm2" action="/register" method="post"> 
	Accont: <input id ="username" name="username" ></input> 
	Password: <input id ="password" name="password" type="password"></input> 
	Confirm Password: <input id ="c_password" name="c_password" type="password"></input> 
	<input type ="submit" value="OK" /> 
	</form>
</body>
</html>
